#include "config/Secrets.h"

const char* OTA_HOSTNAME = "ESP8266-OTA";
const char* OTA_PASSWORD = "your_password";

const char* WIFI_SSID = "your_wifi_name";
const char* WIFI_PASSWORD = "your_wifi_password";
const char* WIFI_IP = "192.168.1.205";
const char* WIFI_GATEWAY = "192.168.1.1";
const char* WIFI_SUBNET = "255.255.255.0";
